<table>
<% @pictures.each do |picture| %>
 
  <tr class="list_picture">
    
    <td>
      <%= link_to image_tag(picture.image_url.to_s, class: 'list_image'), picture %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= link_to picture.title, picture %></dt>
        <dd><p><%= truncate(strip_tags(picture.description), length: 80) %></p></dd>
        <dd><%= picture.user_id %></dd>
      </dl>
    </td>

        <td class="list_actions">
            <%= link_to 'New', new_picture_path %>|<%= link_to 'Edit', edit_picture_path(picture) %>|<%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      
  </tr>
<% end %>
</table>