<table>
  <div id="tag_cloud">
    <% tag_cloud Picture.tag_counts.limit(5), %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>

<% @pictures.each do |picture| %>
 
  <tr class="list_picture">
    
    <td>
      <%= link_to image_tag(picture.image_url.to_s, class: 'list_image'), picture %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= link_to picture.title, picture %></dt>
        <dd><%= raw picture.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></dd>
        <dd><p><%= truncate(strip_tags(picture.description), length: 80) %></p></dd>
        <div class="fb-like" data-href="http://deslumbre-me.herokuapp.com<%= picture_path(picture) %>" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
        <dd><%= picture.user_id %></dd>
      </dl>
    </td>
<% if current_user %>
        <td class="list_actions">
            <%= link_to 'New', new_picture_path %>|<%= link_to 'Edit', edit_picture_path(picture) %>
        </td>
<% end %>
  </tr>
<% end %>
</table>