<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@picture.image_url.to_s, class: 'list_image') %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user_id %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
