<p id="notice"><%= notice %></p>

<table>
	<tr class="list_picture">
<td>
  <%= image_tag(@picture.image_url.to_s, class: 'list_image') %>
</td>

<td class="list_description">
	<dl>
		<dt><%= @picture.title %></dt>

		<dd><%= @picture.tag_list %></dd>
		<dd><p><%= @picture.description %></p></dd>

		<dd><p><%= @picture.user_id %></p></dd>
	</dl>
</td>

<td class="list_actions">
<%= link_to 'Edit', edit_picture_path(@picture) %>|<%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'Back', root_path %>
</td>
</tr>
</table>