<!DOCTYPE html>
<html>
<head>
  <title>Deslumbre</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

	<header id="primary">
		<%= link_to image_tag("deslumbre-logo2.png"),  root_path %>
		<p> </p>
		<nav id="facebook">
			 <% if current_user %>
			    Signed in as <strong><%= current_user.name %></strong>!
			    <%= link_to "Sign out", signout_path, id: "sign_out" %>
		  	<% else %>
		    	<%= link_to image_tag("login-facebook.png"), "/auth/facebook", id: "sign_in" %>
		  	<% end %>
		</nav>
	</header>

<%= yield %>

</body>
</html>
